/* line 1, ../scss/mobile.scss */
.iPhoneCheckContainer {
  float: right;
  margin: 12px 12px 0 0;
  -webkit-transform: translate3d(0, 0, 0);
  position: relative;
  height: 25px;
  cursor: pointer;
  overflow: hidden;
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ededed 1%, white 48%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ededed), color-stop(48%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ededed 1%, white 48%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ededed 1%, white 48%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ededed 1%, white 48%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ededed 1%, #ffffff 48%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#ffffff',GradientType=0);
  /* IE6-9 */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 115px;
}

/* line 34, ../scss/mobile.scss */
.iPhoneCheckContainer input {
  position: absolute;
  top: 5px;
  left: 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 42, ../scss/mobile.scss */
.iPhoneCheckContainer label {
  white-space: nowrap;
  font-size: 11px;
  line-height: 17px;
  font-weight: 700;
  cursor: pointer;
  display: block;
  height: 25px;
  position: absolute;
  width: auto;
  top: 0;
  padding-top: 5px;
  overflow: hidden;
}

/* line 57, ../scss/mobile.scss */
.iPhoneCheckContainer, .iPhoneCheckContainer label {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

/* line 63, ../scss/mobile.scss */
.iPhoneCheckDisabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: .5;
}

/* line 68, ../scss/mobile.scss */
label.iPhoneCheckLabelOn {
  color: #878889;
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ededed 1%, white 48%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ededed), color-stop(48%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ededed 1%, white 48%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ededed 1%, white 48%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ededed 1%, white 48%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ededed 1%, #ffffff 48%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#ffffff',GradientType=0);
  /* IE6-9 */
  left: 0;
  padding-top: 5px;
}

/* line 90, ../scss/mobile.scss */
label.iPhoneCheckLabelOn:after {
  width: 114px;
  height: 25px;
  content: '';
  border: 1px solid #a7a8a9;
  left: 0px;
  top: 0px;
  position: absolute;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 104, ../scss/mobile.scss */
label.iPhoneCheckLabelOn span {
  padding-left: 30px;
}

/* line 108, ../scss/mobile.scss */
label.iPhoneCheckLabelOff {
  color: #fff;
  background: #d36e20;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d36e20 0%, #f58025 24%, #f8a05c 65%, #fab987 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d36e20), color-stop(24%, #f58025), color-stop(65%, #f8a05c), color-stop(100%, #fab987));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d36e20 0%, #f58025 24%, #f8a05c 65%, #fab987 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d36e20 0%, #f58025 24%, #f8a05c 65%, #fab987 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d36e20 0%, #f58025 24%, #f8a05c 65%, #fab987 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d36e20 0%, #f58025 24%, #f8a05c 65%, #fab987 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d36e20',endColorstr='#fab987',GradientType=0);
  /* IE6-9 */
  text-shadow: 0 1px 1px rgba(150, 150, 150, 0.9);
  text-align: right;
  right: 0;
}

/* line 131, ../scss/mobile.scss */
label.iPhoneCheckLabelOff:after {
  width: 114px;
  height: 25px;
  content: '';
  border: 1px solid #d26d20;
  left: 0px;
  top: 0px;
  position: absolute;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 144, ../scss/mobile.scss */
label.iPhoneCheckLabelOff span {
  padding-right: 20px;
}

/* line 148, ../scss/mobile.scss */
.iPhoneCheckHandle {
  display: block;
  height: 25px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: #e6e6e7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e6e6e7 1%, white 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #e6e6e7), color-stop(99%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e6e6e7 1%, white 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e6e6e7 1%, white 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e6e6e7 1%, white 99%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e6e6e7 1%, #ffffff 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e7',endColorstr='#ffffff',GradientType=0);
  /* IE6-9 */
  border: 1px solid #a7a8a9;
  padding-left: 4px;
  width: 28px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 180, ../scss/mobile.scss */
.iPhoneCheckHandleRight {
  height: 100%;
  width: 100%;
  padding-right: 0;
  left: 6px;
}

/* line 187, ../scss/mobile.scss */
.iPhoneCheckHandleCenter {
  height: 100%;
  width: 100%;
}

/* line 192, ../scss/mobile.scss */
.iOSCheckContainer {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden;
}

/* line 199, ../scss/mobile.scss */
.iOSCheckContainer input {
  position: absolute;
  top: 5px;
  left: 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 207, ../scss/mobile.scss */
.iOSCheckContainer label {
  white-space: nowrap;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  cursor: pointer;
  display: block;
  height: 27px;
  position: absolute;
  width: auto;
  top: 0;
  padding-top: 5px;
  overflow: hidden;
}

/* line 223, ../scss/mobile.scss */
.iOSCheckContainer, .iOSCheckContainer label {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

/* line 229, ../scss/mobile.scss */
.iOSCheckDisabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: .5;
}

/* line 234, ../scss/mobile.scss */
label.iOSCheckLabelOn {
  color: #fff;
  background: url(images/ios-style-checkboxes/on.png?1284697268) no-repeat;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  left: 0;
  padding-top: 5px;
}

/* line 242, ../scss/mobile.scss */
label.iOSCheckLabelOn span {
  padding-left: 8px;
}

/* line 246, ../scss/mobile.scss */
label.iOSCheckLabelOff {
  color: #8b8b8b;
  background: url(images/ios-style-checkboxes/off.png?1284697268) no-repeat right 0;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
  text-align: right;
  right: 0;
}

/* line 254, ../scss/mobile.scss */
label.iOSCheckLabelOff span {
  padding-right: 8px;
}

/* line 258, ../scss/mobile.scss */
.iOSCheckHandle {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: url(images/ios-style-checkboxes/slider_left.png?1284697268) no-repeat;
  padding-left: 3px;
}

/* line 270, ../scss/mobile.scss */
.iOSCheckHandleRight {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: url(images/ios-style-checkboxes/slider_right.png?1284697268) no-repeat right 0;
}

/* line 277, ../scss/mobile.scss */
.iOSCheckHandleCenter {
  height: 100%;
  width: 100%;
  background: url(images/ios-style-checkboxes/slider_center.png?1284697268);
}
