@import "normalize";
@import "foundation";
@import "mobile";
@import
  "msdropdown/dd",
  "msdropdown/flags",
  "msdropdown/skin2",
   "msdropdown/sprite";
   
   
$theGreen: #42ac2c;   
   
*:focus {
    outline: 0;
}    
   
 html {
	 background: black;
 }  
     
body {
	border-top:3px solid $theGreen;
	overflow: auto;
	background: none;
	
}
.mainHeader {
	height: 130px ;	
	img {
		padding-top: 40px;
	}
} 
.heroCopy {
	margin-top:5px;
	
	p {
	color: #9c9c9c;
	font-size: 18px;
	font-family: 'Forza A', 'Forza B'; 
	font-weight: 500; 
	font-style: normal;
	line-height: 20px;
	}
}
  
 
.topContent {
min-height: 594px;
height: 595px;
	border-bottom: 2px solid $theGreen;
	
	.details {
		padding: 0 40px;
		margin: auto;
	h3 {
		
		text-align: center;
		font-family: 'Forza A', 'Forza B'; 
		font-weight: 700; 
		font-style: normal;
		line-height: 30px;
	}
	span {
		color: #42ac2c;
	}
	p {
	text-align: center;
		font-size: 21px;
		color: white;
		font-family: 'Forza A', 'Forza B'; 
	font-weight: 500; 
	font-style: normal;
	line-height: 1em;
	margin: 20px 0;

	}
	}
/* end top content */
}

.mainForm {
margin-top:40px;
	label {
		color: white;
		font-family: 'Forza A', 'Forza B'; 
		font-weight: 700; 
		font-style: normal;
		font-size: 16px;
		float: left;   
	}
	input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
		-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	}
	
	.radioButtons {
	
	.radio {
		margin-left:15px;
		margin-right: 2px;
	}
		color: white;
		font-family: 'Forza A', 'Forza B'; 
		font-weight: 700; 
		font-style: normal;
		padding-top: 10px !important;
		.radioButton {
			margin-left:0px;
			
		}
	}
}

.rightColumn-attending {
	
	.transportation {
		margin-top:10px;
		margin-bottom: 25px;
		.radioButtons {
			margin:15px 0 10px 0;
			float: left;
		}
	}
	.hotelContainer {
		margin-bottom: 15px;
		
	}
	.colleagueContainer {
	margin-bottom:15px;
		.radioButtons {
			margin:15px 0 10px 0;
			float: left;
		}
	}
	
}

.rightColumn-Not-attending {
	float: left;
	margin: 10px 0;
	.radioButtons {
		margin: 10px 0 25px 0!important;
		float: left;
	}
	.row .row {
		
	}
}



form.custom .custom.radio.checked:before {
		background: #42ac2c;
	}
	
	.notAttending {
		display: none;
	}
	
	.videoBG_wrapper {
		position: relative !important;
	}
	
	.video-js {
		position:absolute; top:-128px;left:-15px;
	}
	
	.footer {
		border-top: 2px solid $theGreen;
		margin:25px 0 0 0;
		padding: 10px 0 0 0;
		p {
			font-size: 10px;
		}
		h5 {
			font-size: 14px;
			float: left;
			margin-right:5px;
		}
		img {
			float: left;
			margin: 0 5px;
		}
	}
	
	
.videoContainer {
	img {
		position: absolute
	}
}	
	
	/* IE8 */
	
	/* The Grid ---------------------- */
.lt-ie9 .fullWidthTop {
	height: auto !important;
}

.lt-ie9 .menu-icon,  {
	display: none;
}
.lt-ie9 .formContainer {
	padding-top:25px !important;
}
.lt-ie9 .button {
	padding-left:.875em !important;
	padding-right:.875em !important;
	min-width: 150px !important;
	
	
}

.lt-ie9 .title-area {
	width: 118px !important;
	height: 70px !important;
	display: block;
}

.lt-ie9 .title-area img {
	height: auto !important;
	max-width: 100% !important;
}
.lt-ie9 .formContainer img {
	text-align: center;
	padding-top:25px !important;
}

.lt-ie9 #right-label {
	width: 100% !important;
}
.lt-ie9 .leftHome {padding-right:50px !important;
	margin-top:15px !important;
	
}

.lt-ie9 .top-bar-section .leftNav ul li {
	margin: 0 2px !important;
}


.lt-ie9 .top-bar { height: 88px !important; border-bottom:none !important; background: white !important;}

.lt-ie9 .row { width: auto; max-width: 1000px; min-width: 768px; margin: 0 auto; }
.lt-ie9 .row .row { width: auto; max-width: 1000px; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row.large-collapse .column, 
.lt-ie9 .row.large-collapse .columns { padding: 0; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row .row.large-collapse { margin: 0; }

.lt-ie9 .column, .lt-ie9 .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.lt-ie9 .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }

.lt-ie9 [class*="column"] + [class*="column"]:last-child { float: right; }
.lt-ie9 [class*="column"] + [class*="column"].end { float: left; }

.lt-ie9 .large-1, 
.lt-ie9 .row .large-1 { width: 8.33333%; }

.lt-ie9 .large-2, 
.lt-ie9 .row .large-2 { width: 16.66667%; }

.lt-ie9 .large-3, 
.lt-ie9 .row .large-3 { width: 25%; }

.lt-ie9 .large-4, 
.lt-ie9 .row .large-4 { width: 33.33333%; }

.lt-ie9 .large-5, 
.lt-ie9 .row .large-5 { width: 41.66667%; }

.lt-ie9 .large-6, 
.lt-ie9 .row .large-6 { width: 50%; }

.lt-ie9 .large-7, 
.lt-ie9 .row .large-7 { width: 58.33333%; }

.lt-ie9 .large-8, 
.lt-ie9 .row .large-8 { width: 66.66667%; }

.lt-ie9 .large-9, 
.lt-ie9 .row .large-9 { width: 75%; }

.lt-ie9 .large-10, 
.lt-ie9 .row .large-10 { width: 83.33333%; }

.lt-ie9 .large-11, 
.lt-ie9 .row .large-11 { width: 91.66667%; }

.lt-ie9 .large-12,
.lt-ie9 .row .large-12 { width: 100%; }

.lt-ie9 .row .large-offset-1 { margin-left: 8.33333%; }
.lt-ie9 .row .large-offset-2 { margin-left: 16.66667%; }
.lt-ie9 .row .large-offset-3 { margin-left: 25%; }
.lt-ie9 .row .large-offset-4 { margin-left: 33.33333%; }
.lt-ie9 .row .large-offset-5 { margin-left: 41.66667%; }
.lt-ie9 .row .large-offset-6 { margin-left: 50%; }
.lt-ie9 .row .large-offset-7 { margin-left: 58.33333%; }
.lt-ie9 .row .large-offset-8 { margin-left: 66.66667%; }
.lt-ie9 .row .large-offset-9 { margin-left: 75%; }
.lt-ie9 .row .large-offset-10 { margin-left: 83.33333%; }

.lt-ie9 .pull-2 { right: 16.66667%; }
.lt-ie9 .pull-3 { right: 25%; }
.lt-ie9 .pull-4 { right: 33.33333%; }
.lt-ie9 .pull-5 { right: 41.66667%; }
.lt-ie9 .pull-6 { right: 50%; }
.lt-ie9 .pull-7 { right: 58.33333%; }
.lt-ie9 .pull-8 { right: 66.66667%; }
.lt-ie9 .pull-9 { right: 75%; }
.lt-ie9 .pull-10 { right: 83.33333%; }

.lt-ie9 .push-2 { left: 16.66667%; }
.lt-ie9 .push-3 { left: 25%; }
.lt-ie9 .push-4 { left: 33.33333%; }
.lt-ie9 .push-5 { left: 41.66667%; }
.lt-ie9 .push-6 { left: 50%; }
.lt-ie9 .push-7 { left: 58.33333%; }
.lt-ie9 .push-8 { left: 66.66667%; }
.lt-ie9 .push-9 { left: 75%; }
.lt-ie9 .push-10 { left: 83.33333%; }

/* Nicolas Gallagher's micro clearfix */
.lt-ie9 .row { *zoom: 1; }
.lt-ie9 .row:before, .row:after { content: " "; display: table; }
.lt-ie9 .row:after { clear: both; }

.lt-ie9 .top-bar {
  background: #2f2f2f;
  *zoom: 1;
  overflow: visible; 
}
.lt-ie9 .top-bar:before, .lt-ie9 .top-bar:after {
  content: " ";
  display: table; 
}
.lt-ie9 .top-bar:after { clear: both; }
.lt-ie9 .top-bar .toggle-topbar { display: none; }
.lt-ie9 .top-bar .title-area { float: left; }
.lt-ie9 .top-bar .name h1 a { width: auto; }
.lt-ie9 .top-bar input,
.lt-ie9 .top-bar .button {
  line-height: 2em;
  font-size: 0.875em;
  height: 2em;
  padding: 0 10px;
  position: relative;
  top: 8px; 
}
.lt-ie9 .top-bar.expanded { background: #111111; }
.lt-ie9 .contain-to-grid .top-bar {
  max-width: 57.5em;
  margin: 0 auto; 
}
.lt-ie9 .top-bar-section {
  -webkit-transition: none 0 0;
  -moz-transition: none 0 0;
  transition: none 0 0;
  left: 0 !important; 
}
.lt-ie9 .top-bar-section ul {
  width: auto;
  height: auto !important;
  display: inline; 
}
.lt-ie9 .top-bar-section ul li { float: left; }
.lt-ie9 .top-bar-section ul li > a { padding-right: 14px !important; }
.lt-ie9 .top-bar-section ul li .js-generated { display: none; }
.lt-ie9 .top-bar-section li a:not(.button) {
  padding: 0 15px;
  line-height: 45px;
  background: #111111; 
}
.lt-ie9 .top-bar-section li a:not(.button):hover { background: #2b2b2b; }
.lt-ie9 .top-bar-section .has-dropdown > a { padding-right: 35px !important; }
.lt-ie9 .top-bar-section .has-dropdown > a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  margin-top: -2.5px; 
}
.lt-ie9 .top-bar-section .has-dropdown.moved { position: relative; }
.lt-ie9 .top-bar-section .has-dropdown.moved > .dropdown { visibility: hidden; }
.lt-ie9 .top-bar-section .has-dropdown:hover > .dropdown, 
.lt-ie9 .top-bar-section .has-dropdown:active > .dropdown { visibility: visible; }
.lt-ie9 .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
  border: none;
  content: "\00bb";
  margin-top: -7px;
  right: 5px; 
}
.lt-ie9 .top-bar-section .dropdown {
  left: 0;
  top: auto;
  background: transparent; 
}
.lt-ie9 .top-bar-section .dropdown li a {
  line-height: 1;
  white-space: nowrap;
  padding: 7px 15px;
  background: #1e1e1e; 
}
.lt-ie9 .top-bar-section .dropdown li label {
  white-space: nowrap;
  background: #1e1e1e; 
}
.lt-ie9 .top-bar-section .dropdown li .dropdown {
  left: 100%;
  top: 0; 
}
.lt-ie9 .top-bar-section > ul > .divider {
  border-bottom: none;
  border-top: none;
  border-right: solid 1px #2b2b2b;
  border-left: solid 1px black;
  clear: none;
  height: 45px;
  width: 0px; 
}
.lt-ie9 .top-bar-section .has-form {
  background: #111111;
  padding: 0 15px;
  height: 45px; 
}
.lt-ie9 .top-bar-section ul.right li .dropdown {
  left: auto;
  right: 0; 
}
.lt-ie9 .top-bar-section ul.right li .dropdown li .dropdown { right: 100%; }

.lt-ie9 .aProduct .large-4 {
	
	/* width: 33.33333%; */
	height:95px;
}